:root {
    --background: #1634c9db;
    --text: #fff;
    --text2: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url(img/close-up-water-drops.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}
.form-containet {
    display: flex;
    width: 1000px;
    height: 600px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    overflow: hidden;
}
.col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    background: rgba(255, 255, 255, 0.3);
    background-repeat: blur(30px);
    border-radius: 0 30% 20% 0;
    transition: border-radius .3s;
}
.image-layer {
    position: relative;
}
.form-image-main {
    width: 350px;
    animation: scale-up 2s ease-in-out alternate infinite;
}
.form-image {
    width: 400px;
    position: absolute;
    left: 0;
}
.fi-1 {
    animation: scale-down 2s ease-in-out alternate infinite;
}
.fi-2 {
    animation: up-down 2s ease-in-out alternate infinite;
}
@keyframes scale-down {
    to {
        transform: translateX(20px);
    }
}
@keyframes up-down {
    to {
        transform: translateY(20px);
    }
}
.form-image-1 {
    width: 200px;
    position: absolute;
}
.form-image-2 {
    width: 100px;
    margin-left: 35px;
}
.form-image-3 {
    width: 90px;
    left: 0;
    position: absolute;
}
.featured-words {
    color: var(--text);
    width: 300px;
    text-align: center;
}
.featured-words span {
    font-weight: 600;
    color: var(--text2);
}
.col-2 {
    position: relative;
    width: 45%;
    padding: 20px;
    overflow: hidden;

}
.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    font-weight: 500;
    padding: 5px 30px;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    color: var(--text);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .2s
}
.btn-1 {
    background: var(--background);
}
.btn:hover {
    opacity: 0.85;
}
.login-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 4vw;
    transition: .3s;
}
.register-form {
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 4vw;
    transition: .3s;
}
.register-form .form-title {
    margin-block: 40px 20px;
}
.form-title {
    margin: 40px 0;
    color: var(--text);
    font-size: 28px;
    font-weight: 600;
}
.form-inputs {
    width: 100%;
}
.input-box {
    position: relative;
}
.input-field {
    width: 100%;
    height: 55px;
    padding: 0 15px;
    margin: 10px 0;
    color: var(--text);
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    outline: none;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
::placeholder {
    color: var(--text);
    font-size: 15px;
}
.input-box .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: var(--text);
}
.forget-pass {
    display: flex;
    justify-content: right;
    gap: 14px;
}
.forget-pass a {
    color: var(--text);
    text-decoration: none;
    font-size: 14px;
}
.forget-pass a:hover {
    text-decoration: underline;
}
.input-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 55px;
    padding: 0 15px;
    margin: 10px 0;
    color: var(--text);
    background: var(--background);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .3s;
}
.input-submit:hover {
    gap: 15px;
}
.social-login {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.social-login i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: var(--text);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .2s;
}
.social-login i:hover {
    transform: scale(0.8);
}

@media(max-width: 892px) {
    .form-containet {
        width: 80%;
    }
    .col-1 {
        display: none;
    }
    .col-2 {
        width: 100%;
    }
}